<HTML>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div>
  <p>Linux Test Result</p>
</div>
<div>
  <form action="." method="get">
    <label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search"></form>
  {% if results %}
  <table border="1">
    <tr>
      <th>ResultID</th>
      <th>测试工具</th>
      <th>测试平台</th>
      <th>硬件厂商</th>
      <th>CPU型号</th>
      <th>内存大小</th>
      <th>操作系统</th>
      <th>测试人员</th>
      <th>测试时间</th>
      <th>备注</th>
    </tr>
  </table>
  {% else %}
    <P>No Results</P>
  {% endif %}
</div>
</body>
</HTML>