<HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">

#menu {
 padding-left:20px
}
#menu ul {
 list-style-type: none;
 text-align:center;
}
#menu li {
  list-style:none;
  float:left;
  padding:10px;
}

#menu a {
  display:block;
  text-decoration: none;
  background-color:red;
  padding:20px; 
  color:white;
}
#menu a:hover {
 background-color:blue;
}
.clear {
 clear:both;
}


</style>
</head>

<body>
<div>
  <p>Linux Test Result</p>
</div>

<!-- menu -->
<div id="menu">
  <ul>
    <li><a href=".">主页</a></li>  
    <li><a href="">工具结果</a></li> 
    <li><a href="">文档</a></li> 
    <div class="clear" />  
  </ul>
</div>
<hr align="left" width="1000" />
<div>
  <form action="." method="get">
    <label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="搜索"></form>
  {% if results %}
  <table border="0">
    <tr>
      <th>ResultID</th>
      <th>测试工具</th>
      <th>测试平台</th>
      <th>硬件厂商</th>
      <th>CPU型号</th>
      <th>内存大小</th>
      <th>操作系统</th>
      <th>测试人员</th>
      <th>测试时间</th>
      <th>备注</th>
    </tr>
    {% for results_count in results %}
    <tr>
    	<td><a href="#">{{ results_count.ResultsID }}</a></td>
      <td>{{ results_count.TestTool }}</td>
      <td>{{ results_count.Testarch }}</td>
      <td>{{ results_count.HWManufactures }}</td>
      <td>{{ results_count.CPU }}</td>
      <td>{{ results_count.Memory }}</td>
      <td>{{ results_count.OS}}</td>
      <td>{{ results_count.Tester }}</td>
      <td>{{ results_count.TestTime }}</td>
      <td>{{ results_count.Other }}</td>
     </tr>
    {% endfor %}
  </table>
  {% else %}
    <P>No results</P>
  {% endif %}
</div>

<div>
 {% if results.has_previous %}
      <a class='paginator' title='上一页' href='?page={{ results.previous_page_number }}'><span>上一页</span></a>
 {% endif %}
 {% for page in results.paginator.page_range_ext %}
     {% if page = results.number %}
         <a class='paginator_current' title='{{ page }}'><span>本页</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
 {% endfor %}
 {% if results.has_next %}
     <a class='paginator' title='下一页' href='?page={{ results.next_page_number }}'><span>下一页</span></a>
 {% endif %}
 <label class='paginator'>共: {{ results.paginator.num_pages }} 页</label>
 <form action="." method="get">
 <label>页</label>
 <input type="text" name="PageSh"  value="{{ pages_num }}"><input type="submit" value="跳转">
 </form>
 </div>
</body>
</HTML>